@import url('https://fonts.googleapis.com/css2?family=Switzer:wght@100..900&display=swap');
@import url('https://fonts.google.com/selection?preview.text=all%20your%20task%20are%20competed&query=mona+san&icon.size=24&icon.color=%23000000&icon.set=Material+Icons&icon.style=Filled');

*{
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
body{
    font-family: 'Switzer', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    
    padding: 5px;
}
.courses{
    display:flex;
    height: 40px;
    align-items: center;
    box-shadow:0 2px 4px#ddd;
    border: 1px solid #ddd;
    width: fit-content;
    border-radius: 10px;
    margin: 0 2px 6px 2px;

}

.courses img:nth-child(1){
    
    height: 25px;
    margin-right: 10px;
    padding-left: 10px;
}
.courses img:nth-child(3){
    
    height: 12px;
    width: 12px;

    margin-right: 10px;
    padding-left: 10px;
}
.courses p{
    padding-right: 5px;
}
.xp-profile-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.xp a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: -5px;
}
.xp a:hover{
    background-color: #ececec;
}
.xp p:nth-child(1){
    padding-right: 8px;
}
.xp p:nth-child(3){
    background-color: rgba(255, 221, 49, 0.3);
    border-radius: 20px;
    padding: 0 3px;
    padding-left: 10px;
    padding-right: 9px;
}
.xp img{
    
    height: 25px;
 
    margin-right: -8px;
}
.vertical-border{
    height: 40px;
    width: 1px;
    background-color: #ddd;
    margin: 0 20px;
    margin-bottom: 2px;
}
.profile-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3px;
    
}
.profile-menu img{
    height: 30px;
    width: 30px;
    
}
.profile-menu .profile{
    width: 60px;
    height: 40px;
}
.body{
    display: grid;
    grid-template-columns: 0.7fr 3fr 1fr;
    
    
}
.body .left-side-bar{
    overflow-y: auto;
    height: 100vh;
    
}
.body .main-body-bar{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    height: 100vh;

    
}
.body .right-side-bar{
    overflow-y: auto;
    height: 100vh;
   
}
.left-side-head{
    margin: 10px;
    padding: 10px;
    

}
.left-side-head span:nth-child(2){
    background-color: rgb(184, 252, 190);
    padding: 0 4px;
    border-radius:5px;
    margin: 15px 0;
    color: rgb(31, 87, 0);
    font-size: 14px;
    
    
}
.left-side-head p:nth-child(1){
    margin-bottom: 2px;
    font-weight: bold;
}
.border{
    border: 1px solid #ddd;
}
.home a{
    display: flex;
    background-color: rgba(137, 203, 253, 0.4);
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    text-decoration: none;
}
.home img:nth-child(1){ 
    width: 20px;
    height: 20px;
    padding-left: 30px;
}
.home p:nth-child(2){
    padding-left: 20px;
    color: blue;
}
.home a:hover{
    background-color: #ddd;

}
.subjects{
    margin:10px;
    
}
.subjects p{
    font-size: 12px;
    padding: 10px;
    padding-left: 20px;
}
.subjects ul{
    border: 1px solid #ddd;
    border-radius: 15px;
    list-style-type: none;
    padding: 10px;
    margin: 2px;
    
}
.subjects a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.subjects li{
    padding:10px 15px
}
.subjects li:hover{
    background-color:#ddd;
    border-radius:10px ;
}
.subjects li:hover .hover{
    height: 15px;
    width: 15px;
    display: inline-block;
    transform: translateX(30px);
    position: 20px;
}

.left-features{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.left-features a{
    text-decoration: none;
    color: black;
    text-align: left;
    font-size: 14px;

}
.left-features:hover{
    background-color: #ddd;
    border-radius: 8px;

}
.left-features-concern {
    background-color: rgba(128, 255, 121, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.left-features-concern a{
    text-decoration:none ;
    color: rgb(0, 145, 12);
    text-align: left;
    font-size: 14px;
  
}
.left-features-concern:hover{
    background-color: #ddd;
}
.upper-assignment-bar{
    margin: 38px;
    
}
.first-block{
    display: flex;
    margin: 30px;
}
.first-block-image{
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 30px;
    height: 30px;
}
.first-block-image img{
    margin: 3px;
}
.first-block-para{
    padding:1px;
    margin-left: 10px;
    padding-right: 500px;
}
.first-block-para p:nth-child(1){
    font-size: 13px;
    font-weight: bold;
}
.first-block-para p:nth-child(2){
    font-size: 11px;
    padding-top: 4px;
    color: #484848;
}
.lastarrow-image{
    display: flex;
}
.lastarrow-image img{
    
    width: 25px;
    height: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 3px;
}
.lastarrow-image div:nth-child(1){
    padding-left: 50px;
}
.lastarrow-image img:hover{
    background-color:rgba(118, 118, 118, 0.1);
    cursor: pointer;
}
.assignmentimage img{
    width: 180px;
    height: 150px;
    padding: 20px 0px 10px 90px;


}
.assignmentimage p:nth-child(2){
    font-weight: 600;
    font-size: 16px;
    padding: 20px;
    padding-left: 100px;

}
.assignmentimage p:nth-child(3){
    padding-bottom: 15px;
    font-size: 10px;
    color: #585858;
    padding-left: 180px;


}
.practice{
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-left: 90px;
    margin-right: 715px;
}
.assignmentimage .practice p{
    color: #4c4c4c;
    padding: 8px;
    margin-left: 6px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;

    
}
.border-main-first{
    margin-top: 35px;
    border: 1px solid #ddd;
}
.your-performance{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: center;
    gap:10px
}


.sub-calender{
    margin: 20px;
}
.calen{
    display: flex;
    justify-content: space-between;
}
.image-calender{
    display: flex;
    background-color:rgba(44, 44, 44, 0.2);
    border-radius: 8px;
    padding: 2px 10px;
}
.image-calender p:nth-child(1){
    padding-right: 8px;
    color: #565656;
    font-size: 12.5px;
    font-weight: bold;
    cursor: pointer;
}
.image-calender img:nth-child(2){
    margin: 2px;
    cursor: pointer;
}
.calender-p{
    color: #383838;
    font-size: 13px;
    padding-top: 2px;
    
}
.calendar-image-box{
    margin: 50px;
}
.imagenew{
    margin: 50px;
}
.calendar-image-box h4{
    text-align: center;
    padding-left: 10px;
    transform: scaleX(1.2);
    color: #919191;margin-top: -20px;

}
.perform{
    padding: 20px;
}
.perform-topics{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.lecture{
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}
.perform-name-progress{
    display: flex;
}
.lectureimage{
    border: 1px solid #eeeeee;
    padding: 10px;
    border-radius: 10px;
    width: 25px;
    height: 25px;
    
    
}

.perform-heading{
    padding: 20px;
    
}
.perform-heading h5{
    font-size: 16px;
    transform: scaleX(1.1);
    padding:0 40px;
    color: rgb(61, 52, 52);
}
.perform-name{
    padding-left: 13px;
    padding-right: 200px;
}
.perform-name-progress p:nth-child(1){
    font-weight: bold;
    font-size: 18px;
    padding-right: 3px;
    /* font-spacing add on */
    transform: scaleX(1.1);
}
.perform-name >p{
    color: #4e4e4e;
}
.lecture:hover{
    box-shadow: 0 2px 4px #ddd;
}
.img1{
    padding-left: 20px;
}
.img2{

}
.img3{
    padding-left: 28px;
}
.img4{
    padding-left:29px ;
}
